<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <!-- connectString -->
    <!-- Nhi -->
  
    <!-- Phát -->
  <!--Data Source=NGUYENDINHP79CD\PHAT;Initial Catalog=QuanLyKhachSan;Persist Security Info=True;User ID=sa;Password=123-->
    
  <!-- Minh -->

    <!-- Duyên -->

    <!-- Anh -->

    <!-- Văn -->

</configuration>